In [12]:
import pandas as pd
import numpy as np
s = pd.Series(5, index=[3,4,5,6,])
print(s)
print(s[4])

3    5
4    5
5    5
6    5
dtype: int64
5

In [13]:
import pandas as pd
s = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'])

#retrieve the element in index 'd'
print(s[0])

#retrieve the first three elements
print(s[:3])

#retrieve the last three elements
print(s[-3:])

1
a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64

In [22]:
#BASIC FUNCIONALITIES OF THE SERIES DATA STRUCTURE 
import pandas as pd
import numpy as np

#Create a series with 20 random numbers
s = pd.Series(np.random.randn(20))

print(s)
print('\n')

print("The axes are:")
print(s.axes)
print('\n')

print('Is the Object empty?')
print(s.empty)
print('\n')

print('The dimentions of the object:')
print(s.ndim)
print('\n')

print('The actual data series is:')
print(s.values)
print('\n')

print('The first four items of the data series:')
print(s.head(4))
print('\n')

print('The last four items of the data series:')
print(s.tail(5))

0     0.947326
1    -0.720432
2    -0.424110
3     2.185135
4    -0.212412
5     0.057530
6     2.535431
7    -1.422199
8    -0.728678
9    -0.941158
10   -0.548486
11    0.936029
12    0.386484
13   -0.699813
14   -0.674586
15    0.654342
16    1.132583
17    1.085013
18    0.276007
19    0.395554
dtype: float64


The axes are:
[RangeIndex(start=0, stop=20, step=1)]


Is the Object empty?
False


The dimentions of the object:
1


The actual data series is:
[ 0.94732638 -0.72043234 -0.42411018  2.18513529 -0.2124121   0.05752966
  2.53543123 -1.42219877 -0.728678   -0.9411577  -0.54848643  0.93602899
  0.38648447 -0.69981307 -0.67458593  0.65434197  1.1325832   1.08501275
  0.27600697  0.39555448]


The first four items of the data series:
0    0.947326
1   -0.720432
2   -0.424110
3    2.185135
dtype: float64


The last four items of the data series:
15    0.654342
16    1.132583
17    1.085013
18    0.276007
19    0.395554
dtype: float64

In [25]:
# DATA FRAME -> two dimensional array with heterogeneous data.
# pandas.Data frame(data, index, columns, dtype, copy)
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [29]:
import pandas as pd
data = [['Alex', 10], ['Bob', 12], ['Steve', 13]]
df = pd.DataFrame(data, columns=['Name', 'Age'], dtype=float)
print(df)

    Name Age
0   Alex  10
1    Bob  12
2  Steve  13

In [31]:
import pandas as pd
d = {'one':pd.Series([1,2,3], index=['a','b', 'c']),
    'two':pd.Series([1,2,3,4], index=['a','b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [38]:
# Adding rows to a Data Frame using the append function
import pandas as pd

df = pd.DataFrame([[1,2], [3,4]], columns = ['a', 'b'])
df2 = pd.DataFrame([[5,6], [7,8]], columns = ['a', 'b'], index = [2,3])

df = df.append(df2)
print(df)
print('\n')

# Drop rows with label 0
df = df.drop(0)
print(df)

   a  b
0  1  2
1  3  4
2  5  6
3  7  8


   a  b
1  3  4
2  5  6
3  7  8

In [48]:
# Basic functionalities of the DATAFRAME data structure
import pandas as pd
import numpy as np

# Create a Dictionary of series
d = {'Name':pd.Series(['Tom', 'James', 'Ricky', 'Vin', 'Steve', 'Smith', 'Jack']),
    'Age':pd.Series([25, 26, 25, 23, 22, 29, 23]),
    'Rating':pd.Series([4.23, 3.24, 3.98, 2.56, 4.8, 4.6, 3.8])}

# Create a Data Frame
df = pd.DataFrame(d)
print('Our data Series is:')
print(df)
print('\n')

print('The transpose of the data series is:')
print(df.T)
print('\n')

print('Row axis labels and column axis labels are:')
print(df.axes)
print('\n')

print('The data types of each column are:')
print(df.dtypes)
print('\n')

print('Is the object empty?')
print(df.empty)
print('\n')

print('The dimesion of the object is:')
print(df.ndim)
print('\n')

print('The shape of the object is:')
print(df.shape)
print('\n')
      
print('The total number of elements in our object is:')
print(df.size)
print('\n')
      
print('The actual data in our data frame is:')
print(df.values)
print('\n')
      
print('The first two rows of the data frame is:')
print(df.head(2))
print('\n')
      
print('The last two rows of the data frame is:')
print(df.tail(2))

Our data Series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   22    4.80
5  Smith   29    4.60
6   Jack   23    3.80


The transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     22     29    23
Rating  4.23   3.24   3.98  2.56    4.8    4.6   3.8


Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]


The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object


Is the object empty?
False


The dimesion of the object is:
2


The shape of the object is:
(7, 3)


The total number of elements in our object is:
21


The actual data in our data frame is:
[['Tom' 25 4.23]
 ['James' 26 3.24]
 ['Ricky' 25 3.98]
 ['Vin' 23 2.56]
 ['Steve' 22 4.8]
 ['Smith' 29 4.6]
 ['Jack' 23 3.8]]


The first two rows of the data frame is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24


The last two rows of the data frame is:
    Name  Age  Rating
5  Smith   29     4.6
6   Jack   23     3.8

In [49]:
# PANEL
# pandas.Panel(data, items, major_axis, minor-axis, dtype, copy)

# Creating an empty panel from 3d ndarray
import pandas as pd
import numpy as np

data = np.random.rand(2, 4, 5)
p = pd.Panel(data)
print(p)

AttributeError: module 'pandas' has no attribute 'Panel'

In [57]:
# Sorting Data
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame(np.random.randn(10, 2), index=[1,4,6,2,3,5,9,8,0,7], columns=['col2', 'col1'])
print(unsorted_df)
print('\n')

#Sorting by index/label
sorted_df = unsorted_df.sort_index()
print(sorted_df)
print('\n')

#Sorting by values
print('Sorting by values')
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
print(unsorted_df)
sorted_df = unsorted_df.sort_values(by='col2')
print (sorted_df)
print('\n')

#Sorting using Mergesort
print('Sorting using Mergesort')
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
print(unsorted_df)
sorted_df = unsorted_df.sort_values(by='col1',kind='mergesort')
print (sorted_df)

       col2      col1
1  0.118733 -0.703347
4  1.068377  0.133905
6  0.237237 -0.560271
2  0.980054  0.255982
3 -1.616992 -1.214058
5 -1.140693 -2.145315
9  1.027517  0.109838
8  1.716467 -2.018659
0 -1.459731 -0.507996
7  1.296590 -1.234986


       col2      col1
0 -1.459731 -0.507996
1  0.118733 -0.703347
2  0.980054  0.255982
3 -1.616992 -1.214058
4  1.068377  0.133905
5 -1.140693 -2.145315
6  0.237237 -0.560271
7  1.296590 -1.234986
8  1.716467 -2.018659
9  1.027517  0.109838


Sorting by values
   col1  col2
0     2     1
1     1     3
2     1     2
3     1     4
   col1  col2
0     2     1
2     1     2
1     1     3
3     1     4


Sorting using Mergesort
   col1  col2
0     2     1
1     1     3
2     1     2
3     1     4
   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [61]:
#Merging Data
import pandas as pd
left = pd.DataFrame({'id':[1,2,3,4,5],'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
                     'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame({'id':[1,2,3,4,5],'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
                      'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left)
print(right)
print('\n')

#Merge the two data frames on a key
print('Merge the two data frames on a key')
print(pd.merge(left,right,on='id'))
print('\n')

#Merge the two data frames on multiple keys
print('Merge the two data frames on multiple keys')
print (pd.merge(left,right,on=['id','subject_id']))
print('\n')

#Left join
print('Left join')
print(pd.merge(left, right, on='subject_id', how='left'))
print('\n')

#Right join
print('Right Join')
print (pd.merge(left, right, on='subject_id', how='right'))
print('\n')

#Outer join
print('Outer Join')
print (pd.merge(left, right, how='outer', on='subject_id'))
print('\n')

#Inner join
print('Inner Join')
print (pd.merge(left, right, on='subject_id', how='inner'))

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5
   id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5


Merge the two data frames on a key
   id  Name_x subject_id_x Name_y subject_id_y
0   1    Alex         sub1  Billy         sub2
1   2     Amy         sub2  Brian         sub4
2   3   Allen         sub4   Bran         sub3
3   4   Alice         sub6  Bryce         sub6
4   5  Ayoung         sub5  Betty         sub5


Merge the two data frames on multiple keys
   id  Name_x subject_id Name_y
0   4   Alice       sub6  Bryce
1   5  Ayoung       sub5  Betty


Left join
   id_x  Name_x subject_id  id_y Name_y
0     1    Alex       sub1   NaN    NaN
1     2     Amy       sub2   1.0  Billy
2     3   Allen       sub4   2.0  Brian
3     4   Alice       sub6   4.0  Bryce
4     5  Ayoung       sub5   5.0  Betty


Right Join
   id_x  Name_x subject_id  id_y Name_y
0   2.0     Amy       sub2     1  Billy
1   3.0   Allen       sub4     2  Brian
2   NaN     NaN       sub3     3   Bran
3   4.0   Alice       sub6     4  Bryce
4   5.0  Ayoung       sub5     5  Betty


Outer Join
   id_x  Name_x subject_id  id_y Name_y
0   1.0    Alex       sub1   NaN    NaN
1   2.0     Amy       sub2   1.0  Billy
2   3.0   Allen       sub4   2.0  Brian
3   4.0   Alice       sub6   4.0  Bryce
4   5.0  Ayoung       sub5   5.0  Betty
5   NaN     NaN       sub3   3.0   Bran


Inner Join
   id_x  Name_x subject_id  id_y Name_y
0     2     Amy       sub2     1  Billy
1     3   Allen       sub4     2  Brian
2     4   Alice       sub6     4  Bryce
3     5  Ayoung       sub5     5  Betty